[Desktop Entry]
Type=Application
Name=Chrome Containerized
Exec=/usr/bin/cnest chromer /usr/bin/google-chrome-stable --no-sandbox %U
Icon=google-chrome
Terminal=false
Categories=Network;WebBrowser;
Keywords=web;browser;internet;
Version=1.0

X-Desktop-File-Install-Version=0.23
